@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
